<!-- <app-header></app-header>

<app-footer></app-footer> -->

   <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">

        <!-- ============================================-->
        <!-- Preloader ==================================-->
        <div class="preloader" id="preloader">
          <div class="loader"><span> </span><span></span><span></span><span></span><span> </span></div>
        </div><!-- ============================================-->
        <!-- End of Preloader ===========================-->
        <div class="offcanvas offcanvas-start home-content show" id="offcanvasStart" tabindex="-1" data-bs-backdrop="false" data-bs-scroll="true" data-base-content="home">
          <div class="offcanvas-body d-flex flex-column flex-center"><a class="text-center" href="index.html">
            <!-- <h3> <strong style="color: #4d90fb ;">  Lingua </strong>  Media Connect LTD</h3> -->
            <img class="mb-3 logo" src="../assets/img/logos/loguinalogo.PNG" alt="logo">
          </a>
            <p class="text-center mb-5">
                Arabic & English Translation
                <br>
                 Voice Over and Marketing Services
            </p>
            <ul class="list-inline">
              <li class="list-inline-item"><a class="text-700 mx-2" href="#!"> <span class="fab fa-facebook"></span></a></li>
              <li class="list-inline-item"><a class="text-700 mx-2" href="#!"> <span class="fab fa-twitter"></span></a></li>
              <li class="list-inline-item"><a class="text-700 mx-2" href="#!"> <span class="fab fa-google-plus-g"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="offcanvas offcanvas-end home-nav px-0 show" id="offcanvasEnd" tabindex="-1" data-bs-backdrop="false" data-bs-scroll="true" data-base-content="nav">
          <div class="offcanvas-body p-0 position-lg-fixed position-relative">
            <div class="row vh-lg-100 g-0 bg-100">
              <div class="col-6 home-nav-items position-relative text-white nav-hover-zoom nav-blue-soft"><img class="nav-img" src="assets/img/navigation/about-4-2.png" alt="..." />
                <div class="card-img-overlay d-flex flex-column flex-center align-items-xxl-start justify-content-xxl-end h-100 pb-4 px-5">
                  <div class="mb-3"> <img class="nav-icons" src="assets/img/lineicons/diamond-4-2.png" alt="icon" /></div><a class="text-light fs-1 fs-xl-2 fs-xxl-3 stretched-link items fw-bold text-decoration-none" href="#Rate">Rating</a>
                </div>
              </div>
              <div class="col-6 home-nav-items position-relative text-white nav-hover-zoom nav-red-soft"><img class="nav-img" src="assets/img/navigation/services-4-2.png" alt="..." />
                <div  style="background-color: #5b4ef4;"class="card-img-overlay d-flex flex-column flex-center align-items-xxl-start justify-content-xxl-end h-100 pb-4 px-5">
                  <div class="mb-3"> <img class="nav-icons" src="assets/img/lineicons/thunder-4-2.png" alt="icon" /></div><a class="text-light fs-1 fs-xl-2 fs-xxl-3 stretched-link items fw-bold text-decoration-none" href="#RatingList">Rating List</a>
                </div>
              </div>
              <div class="col-6 home-nav-items position-relative text-white nav-hover-zoom nav-yellow-soft"><img class="nav-img" src="assets/img/navigation/contact-4-2.png" alt="..." />
                <div class="card-img-overlay d-flex flex-column flex-center align-items-xxl-start justify-content-xxl-end h-100 pb-4 px-5">
                  <div class="mb-3"> <img class="nav-icons" src="assets/img/lineicons/map-4-2.png" alt="icon" /></div><a class="text-light fs-1 fs-xl-2 fs-xxl-3 stretched-link items fw-bold text-decoration-none" href="#contact">Contact</a>
                </div>
              </div>
              <div class="col-6 home-nav-items position-relative text-white nav-hover-zoom nav-purple-soft"><img class="nav-img" src="assets/img/navigation/portfolio-4-2.png" alt="..." />
                <div class="card-img-overlay d-flex flex-column flex-center align-items-xxl-start justify-content-xxl-end h-100 pb-4 px-5">
                  <div class="mb-3"> <img class="nav-icons" src="assets/img/lineicons/trophy-4-2.png" alt="icon" /></div><a class="text-light fs-1 fs-xl-2 fs-xxl-3 stretched-link items fw-bold text-decoration-none" href="#portfolio">Portfolio</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <app-Rating></app-Rating>

        <app-rating-list></app-rating-list>
  
      <app-portfolio></app-portfolio>
  
       <app-contactus></app-contactus>
      </main><!-- ===============================================-->
      <!--    End of Main Content-->
      <!-- ===============================================-->
  
      <div class="modal fade" id="modalFullscreen" tabindex="-1" data-bs-keyboard="false" aria-labelledby="modalFullscreen" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="d-flex justify-content-end border-bottom-0 py-5 px-5"><button class="btn-close position-fixed z-index-1" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
  
            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="pt-7">
              <div class="container-fluid">
                <div class="row justify-content-center pb-5">
                  <div class="col-lg-8 col-xl-7">
                    <div class="modal-body"><img class="img-fluid" src="assets/img/projects/p-modal-9.png" alt="..." />
                      <div class="row my-5">
                        <h2 class="mb-5 text-start">Abstraction of the blues</h2>
                        <div class="col-lg-6 col-xl-5 text-start">
                          <h5>Category </h5>
                          <p>Branding</p>
                          <h5>Client </h5>
                          <p>linguamediaconnect</p><a class="text-800 text-" href="../../../https@linguamediaconnect.com/default.htm"> <i class="fas fa-link me-2"></i>https://linguamediaconnect.com</a>
                        </div>
                        <div class="col-lg-6 col-xl-7 border-start text-start mt-4 mt-lg-0">
                          <h5>Brief</h5>
                          <p>I must explain to you how all this mistaken idea of reprobating pleasure and extolling pain arose. To do so, I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                        </div>
                      </div>
                      <div class="mb-6">
                        <p class="my-3 text-start">I must explain to you how all this mistaken idea of reprobating pleasure and extolling pain arose. To do so, I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                        <p class="my-3 text-start">To do so, I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.No one rejects, dislikes or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                      </div><img class="mb-4 img-fluid" src="assets/img/projects/portfolio-modal-2.png" alt="..." />
                      <h4>Etaoin shrdlu</h4>
                      <div class="mb-6">
                        <p class="my-3 text-start"> Must explain to you how all this mistaken idea of reprobating pleasure and extolling pain arose. To do so, I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                        <p class="my-3 text-start">The discovery of the text's origin is attributed to Richard McClintock, a Latin scholar at Hampden–Sydney College. McClintock connected Lorem ipsum to Cicero's writing sometime before 1982 while searching for instances of the Latin word consectetur, which was rarely used in classical literature</p>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 text-center text-lg-start mb-6 mb-lg-0"><img class="img-fluid" src="assets/img/projects/portfolio-modal-5.png" alt="..." />
                          <h4 class="mt-3">Etaoin shrdlu</h4>
                          <p class="px-3 px-lg-0">He rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains. </p>
                        </div>
                        <div class="col-lg-6 text-center text-lg-start mb-6 mb-lg-0"> <img class="img-fluid" src="assets/img/projects/portfolio-modal-7.png" alt="..." />
                          <h4 class="mt-3">Etaoin shrdlu</h4>
                          <p class="px-3 px-lg-0">The wise man therefore always holds in these matters to this principle of selection. </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6 text-center text-lg-start mb-6 mb-lg-0"><img class="img-fluid" src="assets/img/projects/portfolio-modal-6.png" alt="..." /></div>
                        <div class="col-lg-6 text-center text-lg-start mb-6 mb-lg-0"> <img class="img-fluid" src="assets/img/projects/portfolio-modal-8.png" alt="..." />
                          <h4 class="mt-3">Etaoin shrdlu</h4>
                          <p class="px-3 px-lg-0">What follows is H. Rackham's translation, as printed in the Loeb Classical Library edition</p>
                        </div>
                      </div><img class="mb-2 img-fluid" src="assets/img/projects/portfolio-modal-1.png" alt="..." /><img class="mb-2 img-fluid" src="assets/img/projects/portfolio-modal-3.png" alt="..." /><img class="mb-2 img-fluid" src="assets/img/projects/portfolio-modal-4.png" alt="..." />
                      <h4 class="mt-3">Etaoin shrdlu</h4>
                      <p>He rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains. </p>
                    </div>
                  </div>
                </div>
              </div><!-- end of .container-->
            </section><!-- <section> close ============================-->
            <!-- ============================================-->
  
          </div>
        </div>
      </div>